li{
    list-style: none;
}

a{
    text-decoration: none;
}
body{
    background-color: hsl(0, 15%, 95%);
}

.blog-list{
    line-height: 30px;

    a{
        &:hover{
            text-decoration: underline;
        }
    }
    .blog-item{

    }
}