body{
    display: flex;
    justify-content: center;
}

.blog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;

    nav{
        display: flex;
        padding: 20px 0px 20px 0px;
        align-self: self-start;
    }

}


.blog-post{
    
    text-align: justify;

    h1{
        display: flex;
        justify-content: center;
    }

    p{
        font-size: large;
        line-height: 40px;
    }
}

