body {
    box-sizing: border-box;
    background-color: black;
    
}

:root{
    --primary-color: hsl(171, 63%, 46%);
    --primary-color-darker: hsl(170, 61%, 42%);
    --section-heading-color : hsl(179, 41%, 25%);
}

h1,h5,p{
    margin: 0;
}

.hide{
    display: none;
}

.resume-div{
    background-color: white;
    width: 210mm;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: var(--primary-color);
    color: white;
}

.contact-details{
    background-color: var(--primary-color-darker);
    height: 50px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .contact-element{
        display: flex;
        align-items: center;
        gap: 5px;

        .icon{
            width: 16px;
            height: 16px;
        }
    }
}

.email-icon {
    background: url('images/mail-icon1.svg') no-repeat center center;
    background-size: contain;
    filter: invert(1); /* Inverts colors, useful for making icons white */
}

.call-icon {
    background: url('images/call-icon.svg') no-repeat center center;
    background-size: contain;
    filter: brightness(0) saturate(100%) invert(100%); /* Sets the icon to white */
}

.profile{
    padding: 20px;

    .role{
        font-size: 20px;
        color:black
    }

    .description{
        font-size: 14px;
        margin-top: 10px;
    }

    .profile-image{
        float: right;
        
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 3px solid black;
        }
    }
}

.resume-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* grid-template-rows: auto auto auto;
    grid-template-areas:
        "left right"
        "left right"
        "left right"; */

    .resume-section{
        padding:5px;

        .section-heading{
            .heading-name{
                color: var(--section-heading-color);
                border-bottom: 4px solid var(--section-heading-color);
                margin-bottom: 5px;
            }
        }
    }

    .experience{
        /* grid-area: left; */
    }

    .skills{
        /* grid-area: right; */
    }

    .education{
        /* grid-area: left; */
    }

    .personal-projects{
        /* grid-area: right; */
    }

    .achievements{
        /* grid-area: left; */
    }

    
}