body {
    background-color: black;
}
html,*{
    box-sizing: border-box;
}
*::after,*::before{
    box-sizing: border-box;
}

:root{
    --primary-color: hsl(171, 63%, 46%);
    --primary-color-darker: hsl(170, 61%, 42%);
    --section-heading-color : hsl(179, 41%, 25%);
}

h1,h5,p,ul{
    margin: 0;
    padding: 0;
}

.hide{
    display: none;
}

.resume-div{
    background-color: white;
    width: 210mm;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: var(--primary-color);
    color: white;
}

.contact-details{
    background-color: var(--primary-color-darker);
    height: 50px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .contact-element{
        display: flex;
        align-items: center;
        gap: 5px;

        .icon{
            width: 16px;
            height: 16px;
        }
    }
}

.email-icon {
    background: url('images/mail-icon1.svg') no-repeat center center;
    background-size: contain;
    filter: invert(1); /* Inverts colors, useful for making icons white */
}

.call-icon {
    background: url('images/call-icon.svg') no-repeat center center;
    background-size: contain;
    filter: brightness(0) saturate(100%) invert(100%); /* Sets the icon to white */
}

.profile{
    padding: 30px;

    .role{
        font-size: 20px;
        color:black
    }

    .description{
        font-size: 14px;
        margin-top: 10px;
    }

    .profile-image{
        float: right;
        width: 130px;
        height: 130px;
        border: 3px solid black;
        overflow: hidden;
        border-radius: 50%;
        
        img{
            max-width: 100%;
        }
    }
}

.resume-content{
    display: grid;
    grid-template-columns: 105mm 105mm;
    /* gap: 10px; */
    
    .left-area{
        /* padding: 10px; */
    }
    .right-area{
        /* padding: 10px; */
    }
    

    .resume-section{
        margin:25px;

        .section-heading{
            padding-bottom: 15px;
            .heading-name{
                color: var(--section-heading-color);
                font-weight: 700;
                font-family: 'sans-serif';
                font-size: large;
                text-decoration: underline;
                text-decoration-thickness: 3px;
                text-underline-offset: 5px;
            }
        }
    }

    .experience{
        .job-title{
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 5px;
        }

        .company-name{
            font-family: sans-serif;
            font-size: 18px;
            font-weight: 400;
        }

        .job-description{
            text-align: justify;
            ul{
                padding-top: 10px;
                padding-left: 15px;
                li{
                    margin-bottom: 10px;
                }
            }
        }

        .duration{
            font-style: italic;
            color: var(--section-heading-color);
            font-size: 14px;
        }
    }

    .skills{
        .skills-list{
            display: flex;
            justify-content: flex-start;
            ul{
                padding: 0px;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                row-gap: 10px;
                li{
                    list-style: none;
                    background: var(--primary-color);
                    padding:5px 10px;
                    border-radius: 5px;
                    color: white;
                }
            }
        }
    }

    .education{
        /* grid-area: left; */
    }

    .personal-projects{
        /* grid-area: right; */
    }

    .achievements{
        /* grid-area: left; */
    }

    
}